.anchor_list {
  a {
    color: inherit;
    text-decoration: none;
    &:hover>li::before {
      color: var(--color-orange);
      transition-property: color;
      transition-duration: 500ms;
    }
    &>li {
      transition-property: color;
      transition-duration: 500ms;
    }
  }
  
}