:root {
  font-size: 1vw;
  --default-bg-color: #fffaf0;
  --default-font-color: #3f312b;
  --color-white: #fafdff;
  --color-brue: #68a9cf;
  --color-orange: #e17b34;
  --color-green: #3cb371;
}

* {
  z-index: 2;
}

body {
  background: var(--default-bg-color);
  color: var(--default-font-color);
  margin: 0;
  overflow-x: hidden;
}

#navigation {
  font-size: small;
}
#navigation .overlay {
  display: block;
  width: 100vw;
  z-index: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  right: -100vw;
  bottom: 0;
  backdrop-filter: brightness(20%) blur(5px);
  transition-property: opacity, right;
  transition-delay: 0ms, 500ms;
  transition-duration: 500ms, 0ms;
}
#navigation .menu_icon {
  position: fixed;
  top: 1em;
  right: 3vw;
  z-index: 3;
  display: block;
  background: var(--color-brue);
  width: 35px;
  height: 35px;
  border-radius: 10%;
  transition-property: right;
  transition-duration: 500ms;
}
#navigation .menu_icon div {
  width: 29px;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background: aliceblue;
  transform-origin: center;
}
#navigation .menu_icon div:nth-of-type(1) {
  transform: translateX(3px) translateY(5px);
  transition-property: transform;
  transition-duration: 500ms;
}
#navigation .menu_icon div:nth-of-type(2) {
  transform: translateX(3px) translateY(15px);
  transition-property: transform;
  transition-duration: 500ms;
}
#navigation .menu_icon div:nth-of-type(3) {
  transform: translateX(3px) translateY(25px);
  opacity: 1;
  transition-property: opacity;
  transition-duration: 500ms;
}
#navigation nav {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -30vw;
  display: block;
  height: 100vh;
  width: 30vw;
  background: aliceblue;
  z-index: 4;
  transition-property: right;
  transition-duration: 500ms;
}
#navigation nav ul {
  list-style: none;
  padding: 0;
}
#navigation nav ul > a {
  display: block;
  color: inherit;
  text-decoration: none;
}
#navigation nav ul > a:first-child {
  margin-top: 3em;
}
#navigation nav ul > a:hover > li {
  color: var(--color-orange);
}
#navigation nav ul > a > li {
  font-size: 1.25em;
  box-sizing: border-box;
  width: 100%;
  padding: 1em 2em;
}
#navigation #menu_state {
  display: none;
}
#navigation #menu_state:checked + .overlay {
  right: 0;
  z-index: 3;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 500ms, 0ms;
  transition-delay: 0, 500ms;
}
#navigation #menu_state:checked ~ .menu_icon {
  right: 33vw;
  transition-property: right;
  transition-duration: 500ms;
}
#navigation #menu_state:checked ~ .menu_icon div:nth-of-type(1) {
  transform: translateX(3px) translateY(17px) rotate(45deg);
  transition-property: transform;
  transition-duration: 500ms;
}
#navigation #menu_state:checked ~ .menu_icon div:nth-of-type(2) {
  transform: translateX(3px) translateY(17px) rotate(-45deg);
  transition-property: transform;
  transition-duration: 500ms;
}
#navigation #menu_state:checked ~ .menu_icon div:nth-of-type(3) {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 500ms;
}
#navigation #menu_state:checked ~ nav {
  right: 0;
  transition-property: right;
  transition-duration: 500ms;
}

#header_contents {
  width: 100%;
  background: var(--color-white);
}
#header_contents a {
  display: inline-flex;
  width: auto;
  color: inherit;
  text-decoration: none;
}
#header_contents a img {
  width: 2em;
  padding: 10px 1em;
}
#header_contents a h1 {
  margin: 0;
  padding: 10px 0;
}

main {
  width: 70%;
  margin: auto;
  font-size: medium;
}

section[id] {
  box-sizing: border-box;
  padding: 100px 0;
  display: flex;
  justify-content: center;
}
section[id] > h2 {
  word-break: keep-all;
  width: 10em;
  text-align: center;
}
section[id] > h2 div {
  width: 100%;
  text-align: center;
  font-size: medium;
}
section[id] > article {
  width: 45vw;
  margin-left: 5vw;
  margin-top: 100px;
}

.list {
  list-style: none;
  padding: 0;
}
.list > li, .list > a {
  display: block;
  border-bottom: 1px dotted var(--default-font-color);
}
.list > li:first-child, .list > a:first-child {
  border-top: 1px dotted var(--default-font-color);
}
.list > li:not(a), .list > li > li, .list > a:not(a), .list > a > li {
  display: flex;
  padding: 40px 10px;
}
.list > li:not(a)::before, .list > li > li::before, .list > a:not(a)::before, .list > a > li::before {
  content: attr(data-list-name);
  font-weight: bold;
  color: var(--color-brue);
  display: flex;
  align-items: center;
  width: 10em;
}

@media (max-width: 900px) {
  main {
    width: 90%;
  }
  section[id] {
    flex-direction: column;
    align-items: center;
  }
  section[id] > article {
    width: 100%;
    margin-left: 0;
    margin-top: 50px;
  }
}

/*# sourceMappingURL=base.css.map */
