.page_navigation {
  display: flex;
  width: 50%;
  margin: 0 auto 100px;
  padding: 0;
  list-style: none;
  justify-content: space-around;
  // align-items: center;
  li {
    width: 100%;
    text-align: center;
    &:not(:last-child) {
      border-right: 1px solid var(--default-font-color);
    }
    a {
      display: block;
      width: 100%;
      color: var(--color-brue);
      transition-property: color;
      transition-duration: 250ms;
      &:visited {
        color: var(--color-orange);
        transition-property: color;
        transition-duration: 250ms;
      }
      &:hover {
        color: var(--color-green);
        transition-property: color;
        transition-duration: 250ms;
      }
      
    } 
  }
}